.section-lg{
    padding: $space-80 0px;
    @media only screen and (max-width: $media-size-575)
    {
        padding: $space-30 0px;
    }
}
.section-sm{
    padding: $space-60 0px;
    @media only screen and (max-width: $media-size-575)
    {
        padding: $space-20 0px;
    }
}