/*----- Element animation -----*/
.bg-animation {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 9999;

    .elements {
        width: 50px;
        height: 50px;
        animation: animate 15s linear infinite;
        animation-duration: calc(125s / var(--i));

        @media only screen and (max-width: $media-size-575) {
            width: 20px;
        }

        @keyframes animate {
            0% {
                transform: translateY(100vh) scale(1);
            }

            100% {
                transform: translateY(0vh) scale(1);
            }
        }
    }

    .ele-1 {
        width: 32px;
        height: 32px;
    }

    .ele-2 {
        width: 24px;
        height: 24px;
    }

    .ele-3 {
        width: 16px;
        height: 16px;
    }
}


/*----- hero section -----*/
.hero-section {
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url(../images/intro-img.jpg);
    color: $white;
    display: flex;
    align-items: center;
    padding: $space-24 0;
}


.changes-society {
    min-height: 800px;
    background-position: center;
    background-size: cover;
    background-image: url(../images/bg-2.jpg);
    color: $white;
    display: flex;
    align-items: center;
    padding: $space-24 0;

    .intro-card {
        background-color: $lightpink;
        width: 300px;
        padding: $space-12;
        border-radius: $border-radius-8;

        .icon-circle-bg {
            width: 56px;
            height: 56px;
            border-radius: $border-radius-100;
            background-color: $pink;

            img {
                width: 32px;
            }
        }
    }
}

.feature-section {
    background-color: $gray;

    .feature-card {
        padding: 24px;
        transition: $transition;

        &:hover {
            transform: translateY(-10%);
            background-color: $black;
        }

        .feature-icon {
            width: 60px;
            color: $blue;
        }

        .feature-title {
            font-size: $fs-18;
            font-weight: $fw-bold;
        }
    }
}

.plans-section {
    position: relative;
    background-color: $black;

    .meta-logo {
        width: 32px;
    }

    .plans-circle {
        position: relative;
        height: 247px;
        width: 100%;
        display: flex;
        align-items: center;
        bottom: -179px;

        >div {
            border: $border-width-3 $border-solid $blue;
            position: absolute;
            border-radius: $border-radius-100;
            right: 0;
            left: 0;
            margin: 0 auto;

            &:first-child {
                border: 0;
            }
        }

        .plans-total {
            height: 200px;
            width: 200px;
            background: $gray;
            display: flex;
            justify-content: center;
            color: $white;
            padding-top: $space-36;

            .total-content {
                span {
                    display: block;
                    line-height: 0.9;
                    text-transform: uppercase;
                }

                .number {
                    font-size: 60px;
                }

                .supply-text {
                    text-align: right;
                    font-size: 12px;
                }
            }
        }

        .round-one {
            height: 300px;
            width: 300px;
            animation: rotation 8s infinite linear;
            z-index: 99;

            span {
                background: $white;
                height: 30px;
                width: 30px;
                position: absolute;
                border-radius: $border-radius-100;
                color: $black;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 9;
                animation: round 8s infinite linear;
                top: -11px;
            }
        }

        .round-two {
            height: 400px;
            width: 400px;
            
        }

        .round-three {
            width: 500px;
            height: 500px;
        }

    }
}



@keyframes rotation {
    0% {
        transform: rotate(-360deg);
    }
}

@keyframes round {
    0% {
        transform: rotate(360deg);
    }
}