/*----- hero section -----*/
.hero-section {
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url(../images/intro-img.jpg);
    color: $white;
    display: flex;
    align-items: center;
    padding: $space-24 0;
}


.changes-society{
    min-height: 800px;
    background-position: center;
    background-size: cover;
    background-image: url(../images/bg-2.jpg);
    color: $white;
    display: flex;
    align-items: center;
    padding: $space-24 0;

    .intro-card{
        background-color: $lightpink;
        width: 300px;
        padding: 12px;
        border-radius: 8px;

        .icon-circle-bg{
            width: 56px;
            height: 56px;
            border-radius: $border-radius-100;
            background-color: $pink;
    
            img{
                width: 32px;
            }
        }
    }
}

.feature-section {
    background-color: $gray;

    .feature-icon{
        width: 60px;
        color: $blue;
    }

    .feature-title{
        font-size: $fs-18;
        font-weight: $fw-bold;
    }
}

.plans-section {
    position: relative;

    .plans-title {
        margin-bottom: 200px;
    }

    .meta-logo {
        width: 32px;
    }

    // .total-content {
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     width: 200px;
    //     height: 200px;
    //     background: $gray;
    //     border-radius: 100px;
    //     position: absolute;
    //     left: 0;
    //     right: 0;
    //     margin: 0 auto;
    //     bottom: -48px;
    //     z-index: -1;
    //     opacity: 0.3;
   

    //     .supply {
    //         margin-left: 104px;
    //     }

    //     .text-total-supply {

    //         position: relative;

    //         &:before {
    //             position: absolute;
    //             content: "TOTAL";
    //             font-size: 16px;
    //             top: -10px;
    //             left: 16px;
    //         }

    //         &::after {
    //             position: absolute;
    //             content: "SUPPLY";
    //             font-size: 12px;
    //             left: 108px;
    //             bottom: -10px;
    //         }
    //     }

    // }
    //  .circular {
    //     width: 300px;
    //     height: 300px;
    //     border: 3px solid red;
    //     position: relative;
    //     animation: rotation 3s infinite linear;
    //     border-radius: 100%;
    //     padding: 100px;
    //     left: 0;
    //     right: 0;
    //     margin: 0 auto;
    //     bottom: -176px;
    //     z-index: -1;

    //     &::after {
    //         content: "";
    //         width: 40px;
    //         height: 40px;
    //         position: absolute;
    //         background-color: blue;
    //         left: 20px;
    //         top: 20px;
    //         border-radius: 100%;
    //     }
    // }
}

// @keyframes rotation {
//     0% {
//         transform: rotate(-360deg);
//     }
// }


// .round-1::before {
//     width: 100px;   
//     height: 100px;
//     border: 3px solid red;
//     position: absolute;
//     content: "";
// }

.total-content {
    background: red;
    width: 300px;
    height: 300px;
    border-radius: 100%;

    .total {
        font-size: 16px;
    }
    .supply {
        font-size: 12px;
    }
}






#apDiv1 {
	position:absolute;
	width:64px;
	height:64px;
	z-index:1;
	left: 553px;
	top: 37px;
}

#apDiv9 {
	position:absolute;
	width:128px;
	height:127px;
	z-index:2;
	left: 520px;
	top: 185px;
}

