/*----- font family -----*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
$font-family: 'Ubuntu';

/*----- colors -----*/

$blue: #005aff;
$lightblue: lighten(#005aff, 10);
$orange: #ffa500;
$lightorange: lighten(#ffa500, 10);
$gray: #455065;
$pink: #fb3dae;
$lightpink: lighten(#fb3dae, 10);
$white: #ffffff;
$black: #000000;


/*----- font size -----*/

$fs-60: 60px;
$fs-48: 48px;
$fs-32: 32px;
$fs-24: 24px;
$fs-18: 18px;
$fs-16: 16px;
$fs-14: 14px;
$fs-12: 12px;

/*----- font weight -----*/

$fw-bold: 700;

/*----- Space -----*/
$space-8:  8px;
$space-12: 12px;
$space-20: 20px;
$space-24: 24px;
$space-30: 30px;
$space-36: 36px;
$space-60: 60px;
$space-80: 80px;

/*----- Border Radius -----*/
$border-radius-8: 8px;
$border-radius-50: 50px;
$border-radius-100: 100%;

/*----- Transition -----*/
$transition:0.3s ease;

/*----- Media Query Size -----*/
$media-size-575: 575px;
$media-size-767: 767px;

/*----- border Width -----*/
$border-width-3: 3px;

/*----- border Type -----*/
$border-solid: solid;

