.btn{
    padding: 8px 24px;
    border-radius: 20px;
    color: $white;
    @media only screen and (max-width: 576px)
    {
        &{
            font-size: $fs-12;
        }
    }

    &.fill-blue-btn{
        background-color: $blue;
        &:hover{
            background-color: $lightblue;
            color: $white;
        }
    }

    &.fill-orange-btn{
        background-color: $orange;
        &:hover{
            background-color: $lightorange;
            color: $white;
        }
    }
}

