.btn{
    padding: $space-8 $space-24;
    border-radius: $border-radius-50;
    color: $white;
    @media only screen and (max-width: $media-size-575)
    {
        font-size: $fs-12;
    }

    &.fill-blue-btn{
        background-color: $blue;
        &:hover{
            background-color: $lightblue;
            color: $white;
        }
    }

    &.fill-orange-btn{
        background-color: $orange;
        &:hover{
            background-color: $lightorange;
            color: $white;
        }
    }
}

