.footer{
    min-height: 600px;
    background-position: center;
    background-size: cover;
    background-image: url(../images/footer-bg.jpg);

    color: $white;
    display: flex;
    align-items: center;
    z-index: 99;

    .footer-about-img{
        width: 100%;
    }

    .footer-logo{
        width: 32px;
    }
}